body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
button {
  padding: 10px;
  margin: 5px;
}

button {
  cursor: pointer;
}

.item-details {
  margin-top: 20px;
  border: 1px solid #ccc;
  padding: 15px;
  background-color: #f9f9f9;
}
